.aboutus{
    display:flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding:50px;
    gap:50px;
    width:100%;
    height: auto;
}
.aboutusElement{
    display:flex;
    flex-direction: column;
    width:50%;
}
.imagecontainers{
    width:80%;
    display:flex;
    justify-content: center;
    align-items: center;
    gap:20px;
    position: relative;
}
.upimages{
    display:flex;
    gap:20px;
}
.upimages .imageleft , .imageright{
    display:flex;
    flex-direction: column;
    gap:20px;
}
.imagemiddle{
    display:flex;
    flex-direction: column;
    gap:20px;
}
.imagemiddle .imagemiddlefirst{
    display: flex;
    gap:20px;
}
.ourstory{
    width:80%;
}
.ourstorycontent{
    display:flex;
    gap:50px;
}
.storyleft{
    width:50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    gap:30px;
}
.storyleft .paragraphs{
    display:flex;
    flex-direction: column;
    gap:20px;

}
.button{
    background-color: #082D4A;
    color:white;
    padding:10px 20px;
    border-radius: 10px;
    width:150px;
}

@media screen and (max-width:748px) {
    .imagecontainers{
        flex-direction: column;
    }
    .lastimage{
        width:100%;
    }
    
}