.community {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-image: url(../../assets/community.jpeg);
    background-size: cover;
    background-position: center;
    position: relative;
    color: white;
    padding: 50px;
  }
.community::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Adjust opacity as needed */
    z-index: 0;
  }
.textsimage{
    width:30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
    z-index: 1;
}
h1{
    margin:0px;
}
.imagea{
    display:flex ;
    align-items: center;
    justify-content: center;
    gap:20px;
}

.imagea img{
    width:40%;
}
@media screen and (max-width:760px) {
    .textsimage{
        width:85%;
    }
}