.contact {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    }
    
    .contact .texta {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 15px;
      text-align: center;
      width:80%;
  }
  
  h1 {
    margin: 0px;
  }
  
  .contactform {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
  }
  
  .contactform .firstrow,
  .contactform .secondrow {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  
  .contactform .thirdrow {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .form-group label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
  }
  
  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
  }
  .form-group textarea {
    resize: vertical;
    min-height: 100px;
  }
  
  .form-group input:focus,
  .form-group textarea:focus {
    outline: none;
    border-color: #ff785a;
    box-shadow: 0 0 5px rgba(255, 120, 90, 0.5);
  }
  @media screen and (max-width:760px) {
    .contact{
      padding:20px 0px; 
    }
    .texta{
      width:90% !important;
      gap:10px !important;
    }
    .texta h1{
      margin:0px 5px;
    }
    .contactform{
      width:80%;
    }
    .contactform .firstrow, .contactform .secondrow, .contactform .thirdrow{
      flex-direction: column;
    }
    .form-group textarea {
      min-height: 70px;
    }
  }