.footer{
    padding: 50px;
    background-color: #082D4A;
    width:100%;
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
}
.footerabove{
    width:90%;
    display:flex;
    justify-content: space-between;
}
.footerabove .socials{
    display:flex;
    align-items: center;
    justify-content: left;
    gap:25px;
}
.cardFooterb{
    display:flex;
    flex-direction: column;
    gap:5px;
}
.cardFooterb a{
    text-decoration: none;
    color: white;
}
.cardFooterb .social{
    margin-top: 5px;
}
.cardFooterc{
    display: flex;
    flex-direction: column;
    gap:20px;
}
.cardFooterc img{
    width:150px;
}
.hr{
    width:95%;
}
.footerimage{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
h2{
    font-size: 1.6rem;
}
@media screen and (max-width:780px) {
    .footer{
        padding:20px;
    }
   .cardFooterc h2, .cardFooterb h2{
        font-size: 1.2rem;
    }
    .cardFooterc p, .cardFooterb p{
        font-size:0.8rem;
    }
    .footerabove{
        flex-direction: column;
        gap:20px;
    }
    .cardFooterb p, .socials{
        margin-left:15px;
    }
    .footerimage{
        flex-direction: row;
    }
    .footerimage img{
        width:50%;
        max-width: 200px;
    }
    .copyright p{
        font-size: 1rem !important;
    }
}