.testimonial {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 25px 10%;
}

.slider {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sliderright {
  display: flex;
  gap: 40px;
}

.sliderright svg {
  border-radius: 50%;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
}

.testimonialContainers {
  margin-top: 50px;
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 30px;
  flex-direction: row;
  overflow: hidden;
  overflow-x: auto; /* Change 'scroll' to 'auto' */
  scroll-behavior: smooth;
}
.testimonialContainers::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

.testimonialContainer {
  position: relative;
  width: 600px;
  height: 300px;
  flex-shrink: 0; /* Prevents shrinking */
}

.testimonialContainer img {
  width: 80%;
  height: 100%;
  object-fit: cover;
}

.testimonialCard {
  width: 60% !important; /* Adjust this width as necessary */
  position: absolute;
  top: 26%; /* Adjust this value to move the card up */
  left: 70%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.testimonialCard img {
  width: 50px !important;
  height: 50px !important;
  border-radius: 50%;
}

h6 {
  font-size: 1rem;
  margin: 10px 0;
}

.top {
  display: flex;
}



@media screen and (min-width:500px) and (max-width: 860px) {
  .testimonialContainer {
      width: 90%; /* Adjust the width for smaller screens */
      height: auto; /* Adjust the height to be auto for better responsiveness */
      }
      
  .testimonialCard {
    width: 70% !important; /* Adjust this width as necessary for smaller screens */
      height:50%;
      left: 70%;
      transform: translateX(-50%);
      top: 20%; /* Adjust top value as necessary */
      padding:0px 10px;
      text-align: center;
      display:flex;
      flex-direction: column;
      justify-content: space-evenly;
      }
      
      .testimonialContainer img {
        width: 100%;
        height: auto;
        }
  .testimonial h6{
    font-size: 1.2rem;
    width:100%;
    }
    .testimonialCard p{
      font-size: 0.9rem !important;
    text-align: left;
    }
  .testimonialCard span{
    font-size: 1rem !important;
  }
  .sliderright{
    gap:12px;
  }
}

/*for mobiles*/
      @media screen and (max-width: 600px) {
        .testimonialContainer {
            width: 90%; /* Adjust the width for smaller screens */
            height: auto; /* Adjust the height to be auto for better responsiveness */
        }
      
        .testimonialCard {
            width: 70% !important; /* Adjust this width as necessary for smaller screens */
            height:60%;
            left: 50%;
            transform: translateX(-50%);
            top: 20%; /* Adjust top value as necessary */
            padding:0px 10px;
            text-align: center;
            
        }
      
        .testimonialContainer img {
            width: 100%;
            height: auto;
        }
        .testimonial h6{
          font-size: 0.9rem;
          width:100%;
        }
        .testimonialCard p{
          font-size: 0.7rem !important;
          text-align: left;
        }
        .testimonialCard span{
          font-size: 0.8rem !important;
        }
        .sliderright{
          gap:12px;
        }
      }
      
